<h1>EAT THE BURGER!</h1>

<h2>Burgers to eat...</h2>

<ul id="not-eaten-burgers">
  {{#each burgers}}
  {{#unless devours}}
  {{>eatenBurger  devoured=false}}
  {{/unless}}
  {{/each}}
</ul>

<h2>Yum! You ate these burgers</h2>

<ul id="eaten-burgers">
  {{#each burgers}}
  {{#if devoured}}
  {{> eatenBurger devoured=true}}
  {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form id="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>


  <button type="submit">Add Your Burger</button>
</form>
